{% extends 'layout/app.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-6">
                        <h2>{{ 'app.cart.title'|trans }}</h2>
                    </div>
                    <div class="col-md-6 float-md-right text-sm-right">
                        {{ form_start(clearForm) }}
                            {{ form_widget(clearForm.id) }}
                            {{ form_widget(clearForm.submit) }}
                        {{ form_end(clearForm) }}
                    </div>
                </div>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'app.cart.table.column.product'|trans }}</th>
                        <th>{{ 'app.cart.table.column.price'|trans }}</th>
                        <th>{{ 'app.cart.table.column.quantity'|trans }}</th>
                        <th>{{ 'app.default.summary'|trans }}</th>
                        <th>{{ 'app.default.remove'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in order.items %}
                        <tr>
                            <td>{{ item.product.name }}</td>
                            <td>{{ item.product.price }} {{ 'app.default.currencyDescription'|trans }}</td>
                            <td class="text-sm-center">
                                {{ render(controller('App\\Controller\\Shop\\CartController::setItemQuantityForm', {'id' : item.id})) }}
                            </td>
                            <td>
                                {{ item.priceTotal|number_format(2, ',', ' ') }} zł
                            </td>
                            <td>
                                {{ render(controller('App\\Controller\\Shop\\CartController::removeItemForm', {'id' : item.id})) }}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <td colspan="4" class="text-sm-right">
                            {{ 'app.default.summary'|trans }}:
                        </td>
                        <td>
                            {{ order.summary.priceItemsBeforeDiscount|number_format(2, ',', ' ') }} {{ 'app.default.currencyDescription'|trans }}
                        </td>
                    </tr>

                    {% if order.current.discount is not null %}
                        <tr>
                            <td colspan="4" class="text-sm-right">
                                {{ 'app.cart.table.column.discountValue'|trans }} ({{ order.current.discount.discount }} %):
                            </td>
                            <td>
                                - {{ order.summary.discount|number_format(2, ',', ' ') }} {{ 'app.default.currencyDescription'|trans }}
                            </td>
                        </tr>
                        <tr class="bg-info">
                            <td colspan="4" class="text-sm-right">
                                {{ 'app.cart.table.column.summaryWithDiscount'|trans }}:
                            </td>
                            <td>
                                {{ order.summary.itemsPriceTotal|number_format(2, ',', ' ') }} {{ 'app.default.currencyDescription'|trans }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4" class="text-sm-right">
                                {{ 'app.cart.setDiscount.placeholder'|trans }}:
                            </td>
                            <td>
                                {{ form_start(setDiscountForm) }}
                                <div class="row">
                                    <div class="col">
                                        {{ form_widget(setDiscountForm.id) }}
                                        {{ form_widget(setDiscountForm.discountCode) }}
                                    </div>
                                    <div class="col">
                                        {{ form_widget(setDiscountForm.submit) }}
                                    </div>
                                </div>
                                {{ form_end(setDiscountForm) }}
                            </td>
                        </tr>
                    {% endif %}

                    </tbody>
                </table>

                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <td>
                            {{ 'app.cart.setPayment.title'|trans }}
                        </td>
                        <td>
                            {{ form_start(setPaymentForm) }}
                            <div class="row">
                                <div class="col">
                                    {{ form_widget(setPaymentForm.id) }}
                                    {{ form_widget(setPaymentForm.payment) }}
                                </div>
                                <div class="col">
                                    {{ form_widget(setPaymentForm.submit) }}
                                </div>
                            </div>
                            {{ form_end(setPaymentForm) }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ 'app.cart.setShipment.title'|trans }}
                        </td>
                        <td>
                            {{ form_start(setShipmentForm) }}
                            <div class="row">
                                <div class="col">
                                    {{ form_widget(setShipmentForm.id) }}
                                    {{ form_widget(setShipmentForm.shipment) }}
                                </div>
                                <div class="col">
                                    {{ form_widget(setShipmentForm.submit) }}
                                </div>
                            </div>
                            {{ form_end(setShipmentForm) }}
                        </td>
                    </tr>
                    <tr class="bg-info">
                        <td>
                            {{ 'app.cart.table.column.toPay'|trans }}
                        </td>
                        <td>
                            {{ order.summary.priceTotal|number_format(2, ',', ' ') }} {{ 'app.default.currencyDescription'|trans }}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}