{% extends 'layout/app.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>{{ 'app.home.title'|trans }}</h2>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>{{ 'app.home.table.column.product'|trans }}</th>
                        <th>{{ 'app.home.table.column.price'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price|number_format(2, ',', ' ') }} {{ 'app.default.currencyDescription'|trans }}</td>
                            <td>
                                {{ render(controller('App\\Controller\\Shop\\CartController::addItemForm', {'id' : product.id})) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}