{% import 'macros.html.twig' as macros %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Simple cart app{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="col-md-6 float-md-left">
                        <a class="navbar-brand" href="{{ path('home') }}">App</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="col-md-6 float-md-right text-md-right">
                        <a href="{{ path('cart') }}" class="btn btn-danger">
                            <i class="fa fa-shopping-cart"></i>
                            {{ 'app.default.cart'|trans }} <span class="badge badge-light">{{ itemsInCart }}</span>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row pt-md-3 pb-md-3">
            <div class="col-md-12">
                {{ macros.messages() }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer class="bg-light">
            <div class="row">
                <div class="col-md-12 text-center pt-md-3 pb-md-3">
                    &copy; Kamil Rybczyński
                </div>
            </div>
        </footer>

    </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>